body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}


.nav-bar {
  background-color:#538AFF;
  position: absolute;
  height: 100%;
}

li {
  list-style-type: none;
  border: 1em;
  border-color: black;
  
}

h1 {
  background-color:#538AFF;
}

.articleCard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.articleCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}